/*  ==========================================================================
    Homepage Styles
    ========================================================================== */
    #hpage {
        position: relative;

        width: 100%;
        height: 100%;

        font-family: "BJ", sans-serif;

        ul.best-featured {
            li {
                position: relative;

                &:last-child {
                    margin-bottom: 60px;
                }

                img {
                    max-width: 100%;
                }

                h1 {
                    position: absolute;
                    top: 55px;
                    left: 30px;

                    font-size: 34px;
                    color: $font_color;
                    text-align: left;
                    
                    b {
                        margin-left: -10px;

                        font-family: "SJ", sans-serif;

                        &:before {
                            content: "/";
                            margin-right: 4px;
                        }
                    }
                }

                > a > div {
                    overflow: hidden;

                    padding: 12px 10px 14px;
                }
            }
        }
    }