/*  ==========================================================================
    Splash Styles
    ========================================================================== */
    #spl {
        position: relative;

        width: 100%;
        height: 100%;

        font-family: "BJ", sans-serif;

        > ul {
            width: 100%;

            > li {
                overflow: hidden;

                position: relative;

                width: 100%;
                
                padding: 30px 20px;

                background: url(../../img/wave_border.png) repeat-x left bottom;
                background-size: 24px auto;

                &:last-child {
                    margin-bottom: 60px;

                    background: none;
                }
            }

            h1 {
                overflow: hidden;
                float: left;

                @include translate(0, 4px);

                width: 100%;

                margin-bottom: -2px;

                padding-right: 80px;

                color: $font-color;
                font-size: 30px;
                line-height: 32px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: left;

                white-space: nowrap;
                text-overflow: ellipsis;
            }

            span {
                position: absolute;
                right: 30px;
            }

            span.star {
                display: none;

                right: 60px;

                width: 30px;
                height: 29px;

                margin-right: 5px;

                background: url(../../img/stars_sprite.png) no-repeat 0px 0px;
                background-size: 30px auto;

                &.active {
                    display: block;
                    background-position: 0px -29px;
                }
            }

            span.open-spot {
                display: block;

                width: 24px;
                height: 24px;

                margin-top: 3px;

                @include border-radius(50px);
                border: 2px solid $font-color;

                &:before {
                    content: "";
                    display: block;

                    @include translate(-50%, -50%);

                    position: absolute;
                    left: 50%;
                    top: 50%;

                    width: 8px;
                    height: 12px;

                    margin-left: 1px;

                    background: url(../../img/list_arrow.png) no-repeat 0px 0px;
                    background-size: auto 12px;
                }
            }
        }
    }