<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
        <title>Drop a Wave</title>
    </head>
    <body>
        <!-- Loader -->
        <span class="loader loading">
            <b></b>
        </span>

        <!-- Navigation -->
        <nav id="navigation" role="navigation">

            <div class="choise">
                <span>make your choice</span>
            </div>

            <div class="circles" data-step-two="300" data-step-three="0" data-step-open="20" data-step-close="0">
                <span data-settings="360" data-open="320" data-close="0"></span>
                <span data-settings="270" data-open="270" data-close="0"></span>
                <span data-settings="230" data-open="230" data-close="0"></span>
            </div>

            <ul class="ocean">

                <li data-step-two="320" data-step-three="0">
                    <div class="wave-el waveD">
                        <div class="wave wave-green-darker"></div>
                    </div>
                </li>

                <li data-step-one="180" data-step-two="260" data-step-three="0">
                    <a href="" class="hexagon hexagon-surf" data-category="0"><span>Surf</span></a>
 
                    <div class="wave-el waveC">
                        <div class="wave wave-green-dark"></div>
                    </div>
                </li>

                <li data-step-one="130" data-step-two="205" data-step-three="0">
                    <a href="" class="hexagon hexagon-right" data-category="1"><span>Wind surf</span></a>

                    <div class="wave-el waveB">
                        <div class="wave wave-green"></div>
                    </div>
                </li>

                <li data-step-one="80" data-step-two="155" data-step-three="80">
                    <a href="" class="hexagon" data-category="2"><span>Body board</span></a>

                    <div class="wave-el waveA">
                        <div class="wave wave-green-light"></div>
                    </div>
                </li>

                <li data-step-three="80">
                   <a href="" class="nav-toggle"></a>

                   <ul class="main-nav">
                       <li><a href="" class="home" data-title="home" data-x="-100" data-y="-160" data-x-one="-130" data-y-one="-130" data-x-two="-115" data-y-two="-140"></a></li>
                       <li><a href="" class="spots" data-title="spots" data-x="0" data-y="-220" data-x-one="-130" data-y-one="-130" data-x-two="-70" data-y-two="-180"></a></li>
                       <li><a href="" class="events" data-title="events" data-x="110" data-y="-160" data-x-one="-130" data-y-one="-130" data-x-two="0" data-y-two="-200"></a></li>
                   </ul>
                </li>
                
                <li data-step-two="120" data-step-three="85">
                    <a href="" class="hexagon hexagon-right hexagon-other" data-category="3"><span>Others</span></a>

                    <div class="beach-el">
                        <div class="beach"></div>
                    </div>
                </li>
            </ul>

            <a href="" id="fake_button"></a>

            <span class="copy">2014</span>
        </nav>
        <!-- Navigation end -->


        <!-- Splashscreen -->
        <div id="splash">
            <img src="img/logo.png" alt="" id="appLogo">
        </div>

        <!-- Homepage -->
        <div id="hpage" style="display:none"></div>

        <!-- Spotlist -->
        <div id="spl" style="display: none"></div>

        <!-- Spot -->
        <div id="sp" style="display:none"></div>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="scripts/jquery-2.0.3.js"></script>
        <script type="text/javascript" src="scripts/vendor/underscore-min.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>
        <!--<script type="text/javascript" src="scripts/app.js"></script>-->
        
        <!--------- Templates -------->
        <script type="text/html" class="template" id="home-page">
            <ul class="best-featured">
                <% _.each(spots, function(item) { %>
                <li>
                    <a href="" class="spot-list-item" data-spot="<%= item.spot_id %>">
                        <img src="<%= item.image_url %>" alt="">

                        <h1><%= item.name %> <b>BG</b></h1>

                        <div>
                            <div class="spot-date">
                                <span class="date">26</span>
                                <span class="month">10</span>
                                <span class="day">Monday</span>
                            </div>

                            <div class="spot-pictogram">
                                <span class="spot-pic partly-cloudy"></span>
                                <span class="weather-desc"><%= item.forecast[0].weatherDesc %></span>
                            </div>

                            <div class="spot-basic">
                                <div class="spot-air">
                                    <span class="direction"><b><!--<%= item.forecast[0].winddir16Point %>--></b></span>
                                    <span class="text"><%= item.forecast[0].WindGustKmph %><b>km/h</b></span>
                                    <span class="smaller-icon partly-cloudy"><!--<%= item.forecast[0].weatherDesc %>--></span>
                                    <span class="text"><%= item.forecast[0].WindChillC %><i>&#176;</i><b>C</b></span>
                                </div>
                                <div class="spot-wave">
                                    <span class="direction blue"><b><%= item.forecast[0].swellDir16Point %></b></span>
                                    <span class="text"><%= item.forecast[0].swellHeight_m %><b>m</b></span>
                                    <span class="text move-away-from-me"><%= item.forecast[0].swellPeriod_secs %><b>s</b></span>
                                    <span class="text"><%= item.forecast[0].tempC %><i>&#176;</i><b>C</b></span>
                                </div>
                            </div>
                        </div>

                        <span class="seperator"></span>
                    </a>
                </li>
                <!--
                <div class="spot-list-item" data-spot="<%= item.spot_id %>">
                    <h2><%= item.name %></h2>
                    <img src="<%= item.image_url %>" alt="" style="width: 100px;"/>
                    <div>Wind: <%= item.forecast[0].winddir16Point %>, <%= item.forecast[0].winddirDegree %>, <%= item.forecast[0].WindGustKmph %>, <%= item.forecast[0].WindChillC %>, <%= item.forecast[0].weatherDesc %></div>
                    <div>Water: <%= item.forecast[0].swellDir16Point %>, <%= item.forecast[0].swellDir %>, <%= item.forecast[0].swellHeight_m %>, <%= item.forecast[0].swellPeriod_secs %>, <%= item.forecast[0].tempC %></div>
                </div>
                -->
                <% }) %>
            </ul>
            </div>
        </script>
        
        <script type="text/html" class="template" id="spots-page-list">
            <ul>
                <% _.each(spots, function(item) { %>
                    <li data-spot="<%= item.spot_id %>">
                        <h1><%= item.name %></h1>
                        <span class="open-spot"></span>
                        <span class="star <% if (item.fav == 1) {%>active<%}%>"></span>
                    </li>
                <% }) %>
            </ul>
        </script>
        
        <script type="text/html" class="template" id="spots-details-page">
            <div class="spot">
                <img src="img/EXAMPLE.jpg" alt="">

                <h1>Sunny Day <b>BG</b></h1>

                <div>
                    <div class="spot-date">
                        <span class="date">26</span>
                        <span class="month">10</span>
                        <span class="day">Monday</span>
                    </div>

                    <div class="spot-pictogram">
                        <span class="spot-pic partly-cloudy"></span>
                        <span class="weather-desc">Sunny</span>
                    </div>

                    <div class="spot-basic">
                        <div class="spot-air">
                            <span class="direction"><b></b></span>
                            <span class="text">7<b>kn</b></span>
                            <span class="smaller-icon partly-cloudy"></span>
                            <span class="text">26<i>&#176;</i><b>C</b></span>
                        </div>
                        <div class="spot-wave">
                            <span class="direction blue"><b></b></span>
                            <span class="text">2<b>m</b></span>
                            <span class="text move-away-from-me">14<b>s</b></span>
                            <span class="text">26<i>&#176;</i><b>C</b></span>
                        </div>
                    </div>
                </div>

            </div>

            <ul class="two-hours">
                <li>
                    <span class="text">08:00<b>&nbsp;am</b></span>

                    <table>
                        <tr class="row">
                            <td class="col"><span class="first-bj"><i>F</i>t</span></td>
                            <td class="col"><span class="text">0.1<b>m</b></span></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col"><span class="first-bj"><i>S</i>well</span></td>
                            <td class="col"><span class="text">0.1<b>m</b></span></td>
                            <td class="col"><span class="text">3<b>s</b></span></td>
                            <td class="col"><span class="direction small"><b></b></span></td>
                        </tr>
                        <tr class="row">
                            <td class="col"><span class="first-bj"><i>W</i>ind</span></td>
                            <td class="col"><span class="text">9<b>kn</b></span></td>
                            <td class="col"><span class="direction small"><b></b></span></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col"><span class="first-bj"><i>W</i>eather</span></td>
                            <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span></td>
                            <td class="col"><span class="text">26<i>&#176;</i><b>C</b></span></td>
                            <td class="col"></td>
                        </tr>
                    </table>
                </li>
                <li>
                    <span class="text">08:00<b>&nbsp;am</b></span>

                    <table>
                        <tr class="row">
                            <td class="col"><span class="first-bj"><i>F</i>t</span></td>
                            <td class="col"><span class="text">0.1<b>m</b></span></td>
                            <td class="col"></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col"><span class="first-bj"><i>S</i>well</span></td>
                            <td class="col"><span class="text">0.1<b>m</b></span></td>
                            <td class="col"><span class="text">3<b>s</b></span></td>
                            <td class="col"><span class="direction small"><b></b></span></td>
                        </tr>
                        <tr class="row">
                            <td class="col"><span class="first-bj"><i>W</i>ind</span></td>
                            <td class="col"><span class="text">9<b>kn</b></span></td>
                            <td class="col"><span class="direction small"><b></b></span></td>
                            <td class="col"></td>
                        </tr>
                        <tr class="row">
                            <td class="col"><span class="first-bj"><i>W</i>eather</span></td>
                            <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span></td>
                            <td class="col"><span class="text">26<i>&#176;</i><b>C</b></span></td>
                            <td class="col"></td>
                        </tr>
                    </table>
                </li>
            </ul>

            <span class="seperator"></span>

            <div class="chart">
                <table class="dates">
                    <tr>
                        <td class="col">
                            <span class="first-bj"><i>M</i>on</span>
                            <p>26/10</p>
                        </td>
                        <td class="col">
                            <span class="first-bj"><i>M</i>on</span>
                            <p>26/10</p>
                        </td>
                        <td class="col">
                            <span class="first-bj"><i>M</i>on</span>
                            <p>26/10</p>
                        </td>
                        <td class="col">
                            <span class="first-bj"><i>M</i>on</span>
                            <p>26/10</p>
                        </td>
                        <td class="col">
                            <span class="first-bj"><i>M</i>on</span>
                            <p>26/10</p>
                        </td>
                        <td class="col">
                            <span class="first-bj"><i>M</i>on</span>
                            <p>26/10</p>
                        </td>
                        <td class="col">
                            <span class="first-bj"><i>M</i>on</span>
                            <p>26/10</p>
                        </td>
                    </tr>
                </table>

                <div class="the-chart">
                    <canvas id="chart" height="80" width="560"></canvas>
                </div>

                <table class="height">
                    <tr>
                        <td class="col">0.1-0.7</td>
                        <td class="col">0.1-0.7</td>
                        <td class="col">0.1-0.7</td>
                        <td class="col">0.1-0.7</td>
                        <td class="col">0.1-0.7</td>
                        <td class="col">0.1-0.7</td>
                        <td class="col">0.1-0.7</td>
                    </tr>
                </table>

                <ul class="legend">
                    <li><b></b>period</li>
                    <li><b></b>max surf height</li>
                </ul>
            </div>

            <span class="seperator"></span>

            <div class="future">
                <table>
                    <tr>
                        <td class="col head">
                            <span class="first-bj"><i>M</i>on</span>
                            <p>26/10</p>
                        </td>
                        <td class="col head">Surf</td>
                        <td class="col head">Swell</td>
                        <td class="col head">Wind</td>
                        <td class="col head">Weather</td>
                    </tr>
                    <tr>
                        <td class="col">
                            <span class="text">00:00<b>am</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>/<span class="text">3<b>s</b></span><span class="direction small"><b></b></span>
                        </td>
                        <td class="col"><span class="text">9<b>kn</b></span><span class="direction small"><b></b></span></td>
                        <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span><span class="text">26<i>&#176;</i><b>C</b></span></td>
                    </tr>
                    <tr>
                        <td class="col">
                            <span class="text">00:00<b>am</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>/<span class="text">3<b>s</b></span><span class="direction small"><b></b></span>
                        </td>
                        <td class="col"><span class="text">9<b>kn</b></span><span class="direction small"><b></b></span></td>
                        <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span><span class="text">26<i>&#176;</i><b>C</b></span></td>
                    </tr>
                    <tr>
                        <td class="col">
                            <span class="text">00:00<b>am</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>/<span class="text">3<b>s</b></span><span class="direction small"><b></b></span>
                        </td>
                        <td class="col"><span class="text">9<b>kn</b></span><span class="direction small"><b></b></span></td>
                        <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span><span class="text">26<i>&#176;</i><b>C</b></span></td>
                    </tr>
                    <tr>
                        <td class="col">
                            <span class="text">00:00<b>am</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>/<span class="text">3<b>s</b></span><span class="direction small"><b></b></span>
                        </td>
                        <td class="col"><span class="text">9<b>kn</b></span><span class="direction small"><b></b></span></td>
                        <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span><span class="text">26<i>&#176;</i><b>C</b></span></td>
                    </tr>
                    <tr>
                        <td class="col">
                            <span class="text">00:00<b>am</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>/<span class="text">3<b>s</b></span><span class="direction small"><b></b></span>
                        </td>
                        <td class="col"><span class="text">9<b>kn</b></span><span class="direction small"><b></b></span></td>
                        <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span><span class="text">26<i>&#176;</i><b>C</b></span></td>
                    </tr>
                    <tr>
                        <td class="col">
                            <span class="text">00:00<b>am</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>/<span class="text">3<b>s</b></span><span class="direction small"><b></b></span>
                        </td>
                        <td class="col"><span class="text">9<b>kn</b></span><span class="direction small"><b></b></span></td>
                        <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span><span class="text">26<i>&#176;</i><b>C</b></span></td>
                    </tr>
                    <tr>
                        <td class="col">
                            <span class="text">00:00<b>am</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>/<span class="text">3<b>s</b></span><span class="direction small"><b></b></span>
                        </td>
                        <td class="col"><span class="text">9<b>kn</b></span><span class="direction small"><b></b></span></td>
                        <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span><span class="text">26<i>&#176;</i><b>C</b></span></td>
                    </tr>
                </table>

                <span class="wave-seperator"></span>

                <table>
                    <tr>
                        <td class="col head">
                            <span class="first-bj"><i>T</i>ue</span>
                            <p>27/10</p>
                        </td>
                        <td class="col head">Surf</td>
                        <td class="col head">Swell</td>
                        <td class="col head">Wind</td>
                        <td class="col head">Weather</td>
                    </tr>
                    <tr>
                        <td class="col">
                            <span class="text">00:00<b>am</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>/<span class="text">3<b>s</b></span><span class="direction small"><b></b></span>
                        </td>
                        <td class="col"><span class="text">9<b>kn</b></span><span class="direction small"><b></b></span></td>
                        <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span><span class="text">26<i>&#176;</i><b>C</b></span></td>
                    </tr>
                    <tr>
                        <td class="col">
                            <span class="text">00:00<b>am</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>/<span class="text">3<b>s</b></span><span class="direction small"><b></b></span>
                        </td>
                        <td class="col"><span class="text">9<b>kn</b></span><span class="direction small"><b></b></span></td>
                        <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span><span class="text">26<i>&#176;</i><b>C</b></span></td>
                    </tr>
                    <tr>
                        <td class="col">
                            <span class="text">00:00<b>am</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>
                        </td>
                        <td class="col">
                            <span class="text">0.1<b>m</b></span>/<span class="text">3<b>s</b></span><span class="direction small"><b></b></span>
                        </td>
                        <td class="col"><span class="text">9<b>kn</b></span><span class="direction small"><b></b></span></td>
                        <td class="col"><span class="smaller-icon even-smaller partly-cloudy"></span><span class="text">26<i>&#176;</i><b>C</b></span></td>
                    </tr>
                </table>
            </div>

            <span class="seperator"></span>

            <ul class="spot-navigation">
                <li><a href=""><span>Subscribe</span></a></li>
                <li><a href=""><span>Drop to events</span></a></li>
                <li><a href=""><span>Share</span></a></li>
            </ul>
        </script>
        
        <script type="text/html" class="template" id="events-page">
            <div>
                <h1>Events Page</h1>
            </div>
        </script>

    </body>
</html>
